
.container {
    border: 3px solid black;
    text-align: center;
    margin: 10px 200px 200px 150px;
    padding: 150px;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.btn {
    justify-content: space-around;
    display: flex;
}

button {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    width: 130px;
    padding: 10px;
}